<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Hello Lyon</title>
<link rel="stylesheet" href="/demo/resources/bootstrap/css/bootstrap.min.css"/>
<style type="text/css">

</style>
</head>
<body>
	<div th:text="${name}"></div>
	<button id="previous" type="button" class="btn btn-default" onclick="location.href='/demo'">previous</button>
	<button id="alert" type="button" class="btn btn-default" onclick="alert('alert!!')">alert</button>

	<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
	<script src="/demo/resources/bootstrap/js/bootstrap.min.js"></script>
<!-- 	<script src="/demo/resources/demo/js/about.js"></script> -->
</body>
</html>